@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  /* #### Text */
  --Very-dark-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);

  /* #### Gradient */
  /* Background gradient: */
  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);

  /* ### Neutral */
  /* #### Text */
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  /* #### Dividers */
  --Light-grayish-blue: hsl(240, 5%, 91%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(var(--Soft-violet), var(--Soft-blue));
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
}

main {
  width: 345px;
  height: fit-content;
  margin: 150px auto 30px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
}

.img-mobile {
  width: 250px;
  margin: -100px 50px;
  position: absolute;
}

.faq-section h1 {
  text-align: center;
}

.faq-section {
  width: 340px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 110px 2px 30px;
}

.accordion {
  width: 330px;
  text-align: left;
  padding: 15px;
  border: none;
  border-bottom: 1px solid var(--Light-grayish-blue);
  background-color: transparent;
  cursor: pointer;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  transform: rotate(0deg);
  transition: 0.4s;
}

.accordion:hover {
  color: var(--Soft-red);
}

.accordion:after {
  content: url(../images/icon-arrow-down.svg);
  float: right;
}

.accordion.active:after {
  transform: rotate(180deg);
}

.accordion.active {
  font-weight: 700;
  color: var(--Very-dark-blue);
}

.panel {
  width: 340px;
  margin: 5px;
  padding: 10px;
  line-height: 1.3rem;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 50px;
}
.attribution a {
  color: var(--Light-grayish-blue);
  text-decoration: none;
}
.attribution a:hover {
  text-decoration: underline;
}

@media (max-width: 640px) {
  .desktop-images {
    display: none;
  }
  .img-box {
    display: none;
  }
}

@media (min-width: 640px) {
  main {
    width: 923px;
    min-height: 512px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 130px auto 70px;
    border: none;
    box-shadow: 7px 10px 28px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 7px 10px 28px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 10px 28px -8px rgba(0, 0, 0, 0.75);
    overflow: visible;
    z-index: 1;
  }

  .img-box {
    position: absolute;
    transform: translate(-94px, 195px);
    z-index: 100;
  }

  .img-mobile {
    display: none;
  }

  .image {
    position: relative;
    overflow: hidden;
  }
  .img-desktop-woman {
    width: 466px;
    max-height: 363px;
    float: left;
    position: relative;
    margin-top: 12%;
    margin-left: -15%;
    z-index: 1;
  }
  .img-bg-desktop {
    width: 800px;
    float: left;
    position: absolute;
    top: -200px;
    margin-left: -170%;
  }

  .faq-section {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    font-size: 14px;
  }
  .faq-section h1 {
    font-size: 1.9rem;
    text-align: left;
    margin-bottom: 20px;
  }

  .accordion {
    font-size: 13px;
    padding: 20px 2px;
    border-bottom: 1px solid var(--Light-grayish-blue);
  }
  .accordion::before {
    font-weight: bold;
  }
  .panel {
    width: auto;
    display: none;
  }
}
