@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  /* #### Text */
  --Very-dark-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);

  /* #### Gradient */
  /* Background gradient: */
  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);

  /* ### Neutral */
  /* #### Text */
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  /* #### Dividers */
  --Light-grayish-blue: hsl(240, 5%, 91%);
}

body {
  height: 100vh;
  background-image: linear-gradient(var(--Soft-violet), var(--Soft-blue));
  background-repeat: no-repeat;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
}

main {
  width: 375px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 38px auto;
  background-color: #fff;
  border-radius: 20px;
}

.img-mobile {
  width: 250px;
}

.faq-section {
  word-wrap: break-word;
}

.accordion {
  width: 100%;
  text-align: left;
  padding: 10px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  transform: rotate(0deg);
  transition: 0.4s;
}

.accordion:hover {
  color: var(--Soft-red);
}

.accordion:after {
  content: url(./images/icon-arrow-down.svg);
  float: right;
}

.accordion.active:after {
  transform: rotate(180deg);
}

.accordion.active {
  font-weight: 700;
}

.panel {
  padding: 5px 10px;
  line-height: 1.3rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--Light-grayish-blue);
  text-decoration: none;
}
.attribution a:hover {
  text-decoration: underline;
}

@media (max-width: 640px) {
  .img-desktop {
    display: none;
  }
}

@media (min-width: 640px) {
  main {
    width: 923px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin: 130px auto 70px;
    border: none;
    box-shadow: 7px 10px 28px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 7px 10px 28px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 10px 28px -8px rgba(0, 0, 0, 0.75);
  }

  .image {
    overflow: hidden;
  }
  .img-mobile {
    display: none;
  }
  .img-desktop {
    width: 459px;
    max-height: 360px;
    margin-top: 5%;
    margin-left: -7%;
  }

  .faq-section {
    max-width: 350px;
    margin: 5% auto 0px;
    padding: 10px;
    justify-content: center;
    font-size: 14px;
  }
  .faq-section h1 {
    padding: 0 10px;
    font-size: 1.9rem;
  }

  .accordion {
    font-size: 13px;
    padding: 10px;
    border-bottom: 1px solid var(--Light-grayish-blue);
  }
  .accordion::before {
    font-weight: bold;
  }
  .panel {
    max-height: 0;
    display: flex;
  }
}
